@import '~@angular/material/theming';

$md-mcgpalette0: (
    50 : #f1eee9,
    100 : #dcd4c8,
    200 : #c4b7a3,
    300 : #ac9a7e,
    400 : #9b8562,
    500 : #896f46,
    600 : #81673f,
    700 : #765c37,
    800 : #6c522f,
    900 : #594020,
    A100 : #ffd19b,
    A200 : #ffb968,
    A400 : #ffa135,
    A700 : #ff961b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// Create your Sass color vars (will be available in all the project)
$primary: mat-palette($md-mcgpalette0, 800, 500, 900);
$secondary: mat-palette($md-mcgpalette0, 800, 500, 900);
$accent:  mat-palette($md-mcgpalette0, A200, A100, A400);
$warn: mat-palette($md-mcgpalette0);
$highlight: mat-palette($md-mcgpalette0, 800, 500, 900);