<div style="margin: 5px;">
  <app-attribut-tabel style="float: left; margin-right: 20px;"></app-attribut-tabel>
  <app-value-tabel style="float: left; margin-right: 20px"></app-value-tabel>
  <div style="float: left;">
    <div style="display: flex;">
      <app-resource-tabel style="margin-right: 20px;"></app-resource-tabel>
      <app-adventure-tabel style="margin-right: 20px;"></app-adventure-tabel>
    </div>
    <div style="margin-top: 20px;">
      <app-bank></app-bank>
    </div>
  </div>
</div>