<div *ngIf="loading">

</div>
<div *ngIf="!loading && !charakter">
  <app-loading (Choosed)="charakterChosed($event)"></app-loading>
</div>
<div *ngIf="!loading && charakter" mat-app-background>

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>

      <span class="menu-spacer headline">DSA</span>

      <button mat-icon-button [routerLink]="'/settings'">
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon [matMenuTriggerFor]="menu">account_circle_icon</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="abmelden()">Abmelden</button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>


  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a mat-list-item [routerLink]="'/'"> Charakterbrief </a>
        <a mat-list-item [routerLink]="'/language'"> Sprachenbrief </a>
        <a mat-list-item [routerLink]="'/traitpage'"> Eigenschaftsbrief </a>
        <mat-divider>Kampf Talente</mat-divider>
        <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
          <mat-expansion-panel-header>
            <div style="display: flex; align-items: center;">
              <a mat-list-item>Kampf Talente</a>
            </div>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item [routerLink]="'/talentletterFighting/8'" (click)="sidenav.toggle()"> Waffenlose
              Kampftechniken
            </a>
            <a mat-list-item [routerLink]="'/talentletterFighting/6'" (click)="sidenav.toggle()"> Nahkampf
              Kampftechniken
            </a>
            <a mat-list-item [routerLink]="'/talentletterRange/7'" (click)="sidenav.toggle()"> Fernkampf Kampftechniken
            </a>
          </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
          <mat-expansion-panel-header>
            <div style="display: flex; align-items: center;">
              <a mat-list-item>Allgemeine Talente</a>
            </div>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item [routerLink]="'/talentletterGeneral/4'" (click)="sidenav.toggle()"> Körperliche Talente
            </a>
            <a mat-list-item [routerLink]="'/talentletterGeneral/5'" (click)="sidenav.toggle()"> Gesellschaftliche
              Talente
            </a>
            <a mat-list-item [routerLink]="'/talentletterGeneral/3'" (click)="sidenav.toggle()"> Natur Talente</a>
            <a mat-list-item [routerLink]="'/talentletterGeneral/2'" (click)="sidenav.toggle()"> Wissenstalente </a>
            <a mat-list-item [routerLink]="'/talentletterGeneral/1'" (click)="sidenav.toggle()"> Handwerkstalente </a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="min-height: 88vh;">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>