.tdPadding{
    padding-left: 10px;
    padding-right: 30px;
}

hr {
    height: 1px;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    background-color:#555;
 }
 