<h2 style="text-align: center;">Auswahl Charakter</h2>

<div *ngIf="Loading">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!Loading">

  <ul class="heroes">
    <li *ngFor="let charakter of CharakterList" (click)="onSelect(charakter)" style="word-wrap: inherit;">
      <span class="badge">{{charakter.Id}}</span>
      {{charakter.Name}} Erstellt: {{charakter.Created | date:'mediumDate'}} Letze Verwendung: {{charakter.LastUsed |
      date:'mediumDate'}}

      <button mat-mini-fab class="small-icon-button" style="margin-right: 2px"
        (click)="DeleteCharakter($event, charakter)">
        <mat-icon>delete</mat-icon>
      </button>

    </li>
    <li (click)="onSelect()">
      <span class="badge">-</span>Neu erstellen
    </li>
    <li (click)="this.FileChooser.nativeElement.click();">
      <span class="badge">-</span>Import
    </li>
    <li (click)="export()">
      <span class="badge">-</span>Export All
    </li>
    <li (click)="talentImportFileChooser()">
      <span class="badge">-</span>Talent Importer
    </li>
  </ul>


</div>

<input #fileChooser style="display: none;" type="file" (change)="onImport($event.target.files)">
<input #fileChooser style="display: none;" type="file"
  accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" (change)="talentImport($event)">