<table cdk-table [dataSource]="data" style="border-spacing: 0" *ngIf="!loading">
  <ng-container cdkColumnDef="name">
    <th cdk-header-cell *cdkHeaderCellDef>
      <p class="smallTabelHeader"></p>
    </th>
    <td cdk-cell *cdkCellDef="let element">
      <div><span>{{ element.Name }}</span></div>
    </td>
  </ng-container>

  <ng-container cdkColumnDef="button">
    <th cdk-header-cell *cdkHeaderCellDef>
      <p class="smallTabelHeader"></p>
    </th>
    <td cdk-cell *cdkCellDef="let element">
      <button *ngIf="!element.nobutton" mat-mini-fab class="small-icon-button" style="margin-right: 2px"
        (click)="ClickButton(element, 1)" type="button">
        +
      </button>
      <button *ngIf="!element.nobutton" mat-mini-fab class="small-icon-button" (click)="ClickButton(element, -1)"
        type="button">
        -
      </button>
    </td>
  </ng-container>

  <ng-container cdkColumnDef="value">
    <th cdk-header-cell *cdkHeaderCellDef>
    </th>
    <td cdk-cell *cdkCellDef="let element">
      <div class='square-box' style="width: 30px">
        <div class='square-content'>
          <div><span>{{ element.Value }}</span></div>
        </div>
      </div>
    </td>
  </ng-container>

  <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
  <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
</table>